body {
  background-color: #282828;
}

.clickGrid {
  position: relative;
  display: inline-block;
}

.canvas {
  position: absolute;
}

.Afile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 0;
  width: 12.5%;
}

.Bfile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 12.5%;
  width: 12.5%;
}

.Cfile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 25%;
  width: 12.5%;
}

.Dfile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 37.5%;
  width: 12.5%;
}

.Efile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 50%;
  width: 12.5%;
}

.Ffile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 62.5%;
  width: 12.5%;
}

.Gfile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 75%;
  width: 12.5%;
}

.Hfile {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 87.5%;
  width: 12.5%;
}

.square8 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 0;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square7 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 12.5%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square6 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 25%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square5 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 37.5%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square4 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 50%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square3 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 62.5%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square2 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 75%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square1 {
  position: absolute;
  display: inline-block;
  height: 12.5%;
  width: 100%;
  top: 87.5%;
  text-align: left;
  text-indent: 5%;
  font-family: sans-serif;
  font-size: 200%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
